article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* GENERAL STYLES */
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #7d93b2;
    font-size: 1.6rem;
    line-height: 32px;
    font-weight: 300;
}

.container {
    /* Width calculation 1530px/1920px=7.968=79.68% */
    width: 79.68%;
    max-width: 1530px;
    margin: 0 auto;
}

.bottom-line {
    border-bottom: 2px solid #E3EFFF;
    padding-bottom:70px;
}

img { 
	max-width: 100%;
	border: 0;
}

/* TEXT STYLES */
h1, h2, h3, h4 {
    color:#4c6280;
}

h1, h2 {
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 4.8rem;
    line-height: 72px;
}

h2 {
    font-size: 3.6rem;
    line-height: 54px;
}

h3 {
    font-size: 2.4rem;
    line-height: 36px;
}

h4 {
    font-size: 1.8rem;
    line-height: 28px;
}

h3, h4 {
    font-weight: 400;
}

.subheading {
    font-size: 1.8rem;
    line-height: 36px;
    font-weight: 300;
    max-width: 720px;
    margin: 0;
}

.center {
    text-align: center;
}

/* BACKGROUND STYLES */
.light-bkgrd {
    background: #FAFCFF;
}

.dark-bkgrd {
    background: #E3EFFF;
}

/* LINK STYLES */
a {
    text-decoration: none;
}

a:focus {
    color: #ed1e24;
}

a:active {
    color: #ed1e24;
}

.main-nav a:hover, 
.footer-nav a:hover, 
.dropdown a:hover {
	color: #ed1e24;
}

.main-nav a:focus, 
.footer-nav a:focus, 
.dropdown a:focus {
	color: #ed1e24;
}

.main-nav a:active, 
.footer-nav a:active, 
.dropdown a:active {
	color: #ed1e24;
}
    
/* BUTTON STYLES */
.red-btn,
.clear-btn {
    border-radius: 8px;
    padding: 15px 30px;
    margin: 5px;
}

.red-btn {
    background-color:#ff5c72;
    color: #ffffff;
    box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
}

.clear-btn {
    color: #7d93b2;
    border: 1px solid #7d93b2;
}

.red-btn:hover,
.clear-btn:hover {
    background-color: #7d93b2;
    color: #ffffff;
}

.double-btn .red-btn {
    margin-right: 35px;
}

/* HEADER NAV STYLES */
.main-header ul {
	list-style: none;
	margin: 0;
	padding:0;
}

.header {
    float: left;
    width: 33.33%;
    height: 48px;
    margin-top: 60px;
}

.main-nav ul li {
	float: left;
	margin: 10px;
	position: relative;
}

.main-nav ul li a  {
    margin: 0 10px;
    color:#7d93b3;
}

.fa-chevron-down {
    margin-left: 10px; 
}

.controls {
    text-align: right;
}

.controls .language {
    padding: 5%;
    color:#7d93b3;
}

/* DROPDOWN MENU STYLES */
.dropdown {
	background: #ffffff;
	position: absolute;
	display: none;
}

.main-nav li:hover ul {
    display: block;
    width: 170px;
}

/* HOME SECTION STYLES */
.home {
    background-image: url(../assets/home-background-1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    padding-top: 80px;
}

.home img {
    display: block;
    margin: 30px auto 0;
}

.home p {
    margin: 0 auto;
}

/* ABOUT SECTION STYLES */
.about {
    padding-top: 185px;
}
.about-col {
    float:left;
    width: 50%;
}

.about-sigma {
    padding-left: 80px;
}

.about-sigma p {
    margin-bottom: 40px;
}

/* FEATURES SECTION STYLES */
.features {
    padding: 120px 0 100px;
    clear: both;
}

.box {
    float: left;
    width: calc((100% - 120px) / 4);
    border-radius: 10px;
    background-color:#ffffff;
    box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.25);
    padding: 10px 30px;
    height: 460px; 
}

.box.box-margin {
    margin-right: 30px;
}

.box p {
    line-height: 24px;
    min-height: 168px;
}

/* PLATFORM SECTION STYLES */
.platform {
    padding-top: 120px;
    clear: both;
}

.platform p {
    margin: 0 auto;
}

.platform img {
    display: block;
    margin: 0 auto;
}

.platform .double-btn {
    padding: 70px 0 100px;
}

/* SPONSORS SECTION STYLES */
.sponsors {
    padding-top: 120px;
}

.sponsors p {
    float: left;
    padding-top: 20px;
}

.sponsor {
    float: right;
    width: calc((100% / 6) - 120px);
    margin: 34px;
}

/* FAQ SECTION STYLES */
.FAQ {
    padding-top: 120px;
}

.question {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.question h3:before {
    content: "";
    display: block;
    background: url('../assets/home-icon-5.png') no-repeat;
    width: 25px;
    height: 25px;
    margin: 7px 15px 0 0 ;
    float: left;
}

.question p {
    line-height: 24px;
}

.FAQ a {
    clear: both;
}

.integrate .container {
    transform: translateY(50%);
}

.integrate-box {
    border-radius: 8px;
    background-color:#ffffff;
    box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.25);
    width: 50%;
    margin: 0 auto;
    padding: 60px;
    height: 360px;
    width: 490px;
}

.integrate-box p {
    line-height: 24px;
}

/* CLOUDS BACKGROUND*/
.clouds {
    height: 555px;
    background-image: url(../assets/home-footer-background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%; 
}

/* HOT AIR BALLOON BACKGROUND*/
.hot-air-balloon {
    height: 610px;
    background-image: url(../assets/page-footer-image.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

/* FOOTER STYLES */
.footer-nav a {
    color:#7d93b3;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    list-style: none;
    display: inline-block;
}

.footer-links img, .footer-links ul li {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 60px;
}

.footer-socials { 
    float: right;
    position: relative;
    transform: translateY(-50%);
}

.footer-socials ul li a,
.footer-socials .svg-inline--fa {
    margin-left: 40px;
}

.legal {
    clear: both;
    margin: 0;
    padding: 20px 0 60px;
    color: #bed0e9;
}

/* PRIVACY POLICY PAGE STYLES */
.our-privacy-policy {
    background-image: url(../assets/home-background-1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    padding: 80px 0 400px;
}

.policy-content, .policy-nav{
    float: left;
}

.policy-content {
    width: 66.66%;
}

.policy-nav {
    width: 33.33%;
}

.policy-nav ul {
    padding-left: 150px;
}

.policy-nav ul li {
    display: block;
    color:  #7d93b2;
    width: 360px;
    min-height: 64px;
}

.policy-nav ul li:hover {
    border-radius: 8px;
    background-color:  #e5f0ff;
}

.policy-nav ul li h3 {
    padding-left: 32px;
    transform: translateY(50%);
}

.policy-nav a {
    color:  #7d93b2;
}

.policy-nav ul li h3 a:visited {
    color: inherit;
}

/* SIGMA SIGN UP FORM PAGE STYLES */
.form-box {
    margin: 0 auto;
    border-radius: 8px;
    background-color:  #ffffff;
    box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.15);
    padding: 100px 150px; 
    width: 990px;   
    height: 898px;
}

form {
	padding: 50px 0 200px;
}

.type-here input,
.type-here label {
	width: 100%;
	display: block;
}

label {
	font-size: 1.4rem;
}

input {
    font-weight: 400;
    line-height:20px;
	border: 2px solid  #ceddf2;
    border-radius: 8px;
    color: #4c6280;
	padding: 10px;
}

input::placeholder {
    color: #4c6280;
}

input:hover {
    color: #4c6280;
}

input:focus {
    border: 2px solid #ff5c72;
    color: #4c6280; 
}

.half-input {
	width: calc(50% - 15px);
	float: left;
}

.half-input:first-child {
	margin-right: 30px;
}

.type-here {
    margin-bottom: 30px;
}

.checkbox {
    margin: 60px 0 30px;
}

.checkbox a {
    color: #ff5c72;
}